        </main>
                
        <footer class="py-5 text-center text-body-secondary fw-bold">
            <div class="container center">
                <p>Made by Julian A Fernandez M</p>
                <p>Copyright © <%= new Date().getFullYear() %></p>
            </div>
        </footer>
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>