<%- include("partials/header.ejs") %>
    <div class="container">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis">My First Blog Web Page</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                This the first web blog that I create using Boostrap and Node. The purpose is to create a blog that you can create, view, edit and delete. However the information wont be save for
                not because I am not using a database to store it. I hope you enjoy! 
            </p>
        </div>
    </div>
<%- include("partials/footer.ejs") %>